*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    
    background-color: lightgray;
    
}
.container{
    width: 50%;
    margin: 0 auto;
}
header{
    background-color: white;
    line-height: 70px;
    padding-left: 20px;
    height: 70px;
    margin-bottom: 30px;
    vertical-align: middle;
}


h1{
    display: inline-block;
    font-size: 50px;
    
    
}    

.title{
    background-color: white;
    height: 70px;   
}
/* card */
.card{
    border-radius: 5px;
    background-color: white;
}
.card-header{
    padding: 10px 30px;
    border-bottom: 2px solid lightgray;
}
.card-body{
    padding: 10px 30px;
}
/* bottoms */
.btn{
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid transparent;
    
    
}
.btn.btn-primary{
    color: white;
    background-color: #1e90ff;
    border-color: #1e90ff;
}
.btn.btn-outline{
    color: gray;
    background-color: white;
    border-color: currentColor;
}
/* list style */
ul{
    list-style-type: none;
}
.task-item{
    height: 40px;
    line-height: 40px;
}
.task-status{
    width: 15px;
    height: 15px;
    border: 1px solid currentColor;
    border-radius: 50%;
    display: inline-block;
    font-size: 10px;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
    color: green;
}
.task-text{
    vertical-align: middle;
}
.task-status.done{
    color: green;
}
.task-status.undone{
    color: red;
}
/* badges */
.badge{
    color: white;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px 10px;
    line-height: 15px;
    vertical-align: middle;
}
/* color badge */
.bg-purple{
    background-color: #9c72e4;
}
.bg-green{
    background-color: #64c0a9;
}
.bg-orange{
    background-color: orange;
}
.bg-lightgreen{
    background-color: lightgreen;
}
.bg-pink{
    background-color: pink;
}
.bg-blue{
    background-color: #1e90ff;
}